.header{
    align-items: center;
    /* align-items: center; */
}
.main{
    margin-top: 50px
}
.item{
    display: grid !important;
    grid-template-columns: 0.4fr 4fr 5fr;
}
.icon{
    display: flex;
    flex-direction: row-reverse;
}
